{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icons8-secure-32.png' %}" type="image/x-icon">
    <title>Check safe</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <img src="{% static 'img/icons8-secure-32.png' %}" alt="Logo de l'application" title="Logo de l'application">
                <h4>Check safe</h4>
            </div>
        </nav>
    </header>
    <main class="app-container">
        <section class="operation">
            <h2>Fraud detection</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- <label for="file">Import a csv file :</label> -->
                <!-- <input type="file" name="file" id="file" required> -->
                {{ form.as_p }}
                <button>start scan</button>
            </form>
            <section class="results">
                <h4>Scan results:</h4>
                <span class="safe">5</span>
                <span class="warning">3</span>
            </section>
        </section>
        <section class="result">
            <!-- <h5>No results, start scan</h5> -->
             <section class="user-list">
                <div class="user safe">
                    <div class="profile-container">
                        <img src="{% static 'img/profile2.jpg' %}" alt="">
                    </div>
                    <div class="user-info">
                        <p class="name">Isabelle Montier</p>
                        <p class="account-id">fyzef-sd67-ydgze-mJfh</p>
                        <p class="town">New York</p>
                    </div>
                </div>
                <div class="user safe">
                    <div class="profile-container">
                        <img src="{% static 'img/profile2.jpg' %}" alt="">
                    </div>
                    <div class="user-info">
                        <p class="name">Isabelle Montier</p>
                        <p class="account-id">fyzef-sd67-ydgze-mJfh</p>
                        <p class="town">New York</p>
                    </div>
                </div>
                <div class="user not-safe">
                    <div class="profile-container">
                        <img src="{% static 'img/doctor-pdp.png' %}" alt="">
                    </div>
                    <div class="user-info">
                        <p class="name">Randria Mickaêl</p>
                        <p class="account-id">fyzef-sd67-djnf-mJfh</p>
                        <p class="town">Toliary, Madagascar</p>
                    </div>
                </div>
                <div class="user not-safe">
                    <div class="profile-container">
                        <img src="{% static 'img/doctor-pdp.png' %}" alt="">
                    </div>
                    <div class="user-info">
                        <p class="name">Randria Mickaêl</p>
                        <p class="account-id">fyzef-sd67-djnf-mJfh</p>
                        <p class="town">Toliary, Madagascar</p>
                    </div>
                </div>
                <div class="user safe">
                    <div class="profile-container">
                        <img src="{% static 'img/profile2.jpg' %}" alt="">
                    </div>
                    <div class="user-info">
                        <p class="name">Isabelle Montier</p>
                        <p class="account-id">fyzef-sd67-ydgze-mJfh</p>
                        <p class="town">New York</p>
                    </div>
                </div><div class="user safe">
                    <div class="profile-container">
                        <img src="{% static 'img/profile2.jpg' %}" alt="">
                    </div>
                    <div class="user-info">
                        <p class="name">Isabelle Montier</p>
                        <p class="account-id">fyzef-sd67-ydgze-mJfh</p>
                        <p class="town">New York</p>
                    </div>
                </div>
                <div class="user safe">
                    <div class="profile-container">
                        <img src="{% static 'img/profile2.jpg' %}" alt="">
                    </div>
                    <div class="user-info">
                        <p class="name">Isabelle Montier</p>
                        <p class="account-id">fyzef-sd67-ydgze-mJfh</p>
                        <p class="town">New York</p>
                    </div>
                </div>
                <div class="user safe">
                    <div class="profile-container">
                        <img src="{% static 'img/profile2.jpg' %}" alt="">
                    </div>
                    <div class="user-info">
                        <p class="name">Isabelle Montier</p>
                        <p class="account-id">fyzef-sd67-ydgze-mJfh</p>
                        <p class="town">New York</p>
                    </div>
                </div>
             </section>
        </section>
    </main>
</body>
</html>