{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icons8-secure-32.png' %}" type="image/x-icon">
    <title>Check safe</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <img src="{% static 'img/icons8-secure-32.png' %}" alt="Logo de l'application" title="Logo de l'application">
                <h4>Check safe</h4>
            </div>
        </nav>
    </header>
    <main class="app-container">
        <section class="operation">
            <h2>Fraud detection</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Start scan</button>
            </form>
        </section>
        <section class="result">
            {% if fraudes is not None and not fraudes.empty %}
                <h4>Résultats du scan :</h4>
                <section class="user-list">
                    {% for index, row in fraudes.iterrows %}
                        <div class="user not-safe">
                            <div class="profile-container">
                                <img src="{% static 'img/profile2.jpg' %}" alt="">
                            </div>
                            <div class="user-info">
                                <p class="name">{{ row.nom }}</p>
                                <p class="account-id">Transaction #{{ row.transaction_id }}</p>
                                <p class="town">{{ row.lieu_transaction }}</p>
                                <p class="fraud-type">Type de fraude : {{ row.type_fraude }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            {% else %}
                <h5>Aucun résultat, veuillez lancer le scan.</h5>
            {% endif %}
        </section>
    </main>
</body>
</html>
