{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icons8-secure-32.png' %}" type="image/x-icon">
    <title>Check safe</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <img src="{% static 'img/icons8-secure-32.png' %}" alt="Logo de l'application" title="Logo de l'application">
                <h4>Check safe</h4>
            </div>
        </nav>
    </header>
    <main class="app-container">
        <section class="operation">
            <h2>Fraud detection</h2>
            <form action="" method="post">
                {% csrf_token %}
                <label for="file">Import a csv file :</label>
                <input type="file" name="file" id="file" required>
                <button>start scan</button>
            </form>
            <section class="results">
                <h4>Scan results:</h4>
                <span class="safe">22</span>
                <span class="warning">3</span>
            </section>
        </section>
        <section class="result">
            <h5>No results, start scan</h5>
        </section>
    </main>
</body>
</html>